@model GroceryProject.Models.Food
@{
    ViewData["Title"] = "GetFood";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>Update Food</h2>
<br />
<form class="form-group" asp-action="UpdateFood" asp-controller="Food" method="post" enctype="multipart/form-data">
    @Html.LabelFor(x => x.FoodID, "Food ID")
    @Html.TextBoxFor(x => x.FoodID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.FoodName, "Food Name")
    @Html.TextBoxFor(x => x.FoodName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FoodDescription, "Food Description")
    @Html.TextBoxFor(x => x.FoodDescription, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Category.CategoryID, "Category Name")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vls, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FoodPrice, "Food Price")
    @Html.TextBoxFor(x => x.FoodPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FoodStock, "Food Stock")
    @Html.TextBoxFor(x => x.FoodStock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FoodImage, "Food Image")
    <input type="file" name="FoodImage" />
    <br />
    <button class="btn btn-success">Save</button>
</form>

